<!--start About Us-->
<div class="about-us">
    <div class="text">
        <h3>About us</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>Welcome to Aswan.com , your gateway to exploring the heart of Egypt's rich history and breathtaking nature – Aswan! Our mission is to bring the wonders of Aswan closer to you by curating unforgettable travel experiences that showcase its vibrant culture,
             mesmerizing landscapes, and timeless heritage. From the serene waters of the Nile to the grandeur of ancient temples, we aim to inspire visitors to immerse themselves in Aswan’s unique beauty. Whether you’re drawn to the tranquil charm of Nubian villages, 
             enchanted by the magic of Philae Temple, or eager to embark on a felucca journey down the Nile, we’re here to ensure your Aswan adventure is seamless, memorable, and enriching. At Aswan.com, we value authentic travel experiences, sustainable
              tourism, and personalized service. Our team of local experts and travel enthusiasts is dedicated to connecting you with the best attractions, accommodations, and experiences Aswan has to offer. Join us in discovering the soul of Egypt – where history meets tranquility. 
            Start your journey today and let Aswan’s wonders unfold!</p>
    </div>
    <div class="image-container">
        <div class="image image1">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988527/vertical-photo-1.jpg" alt="Food Photo">
        </div>
        <div class="image image2">
            <img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988532/vertical-photo-2.jpg" alt="Food Photo">
        </div>
    </div>
</div>
<!--End About Us-->