
/*Start About-Us*/
.about-us,
.reservation {
  padding: 60px;
}
.about-us .text,
.reservation .text {
  flex: 50%;
  padding: 40px 52px 0 0;
}
.about-us .text h3,
.reservation .text h3 {
  color: #000;
}
.about-us .text .fa-asterisk {
  color: #9a9998;
}
.about-us .image-container{
  flex: 50%;
}
.about-us .image{
  margin-left: 20px;
}
/*End About-Us*/
  



  /*End Global*/
  
  /*Start Mutual*/
  p {
    font-family: Cabin, sans-serif;
  }
  .fa-asterisk,
  h2 {
    color: #a96700;
  }
 
  
  
  .about-us .text
  {
    text-align: center;
  }


  .about-us .image-container {
    display: flex;
  }

  /*Start About-Us*/
  .about-us{
    padding: 60px;
  }
  .about-us .text  {
    flex: 50%;
    padding: 40px 52px 0 0;
  }
  .about-us .text h3  {
    color: #000;
  }
  .about-us .text .fa-asterisk .text .fa-asterisk {
    color: #9a9998;
  }
  .about-us .image-container {
    flex: 50%;
  }
  .about-us .image{
    margin-left: 20px;
  }
  /*End About-Us*/
  
  