<!--binding
data interpolation
<h2>Hello ,{{userName}}</h2>
<h3>{{sayHello()}}</h3>

  3- property binding
 <img [src]="imgSrc" width="1080px">

 event binding
 <button (click)="sayHello()">Hello</button>

  4- class binding
  <h2 [class.bg-danger]="protectedPrice > 2000">hello</h2>
  5- style binding

<h2 [style.color]="onsale==true?'red' : 'green' "> Alia </h2>-->



<!--Directives-->
<!--ngIF-->
<!--
<h2 *ngIF="onsale==true">Web development</h2>
<h2 *ngIF="protectedPrice > 5000">Web development</h2>-->


<!--ngFor
<ul>
  <li *ngFor="let friend of friends">friend</li>

</ul>-->




<div class=""></div>